.form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    margin: 100px;
    border: 1px solid black;
}

.form * {
    margin-top: 20px;
}

.my-form-container {
}

.input {
    height: 40px;
    background-color: #E6E6E6;
    border: none;
}

.botao-enviar {
    width: 200px;
    height: 40px;
    background-color: #008FCA;
    color: white;
    border: none;
}


