
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/css/style.css" rel="stylesheet">

  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Raia Tech</title>
    </head>
    <body>
      <!-- Header -->
      <section id="header">
        <div class="header container-fluid">
          <div class="nav-bar">
            <div class="brand">
              <a href="#hero">
                <h1><span>R</span>aia <span>T</span>ech</h1>
              </a>
            </div>
            <div class="nav-list">
              <div class="hamburger">
                <div class="bar"></div>
              </div>
              <ul>
                <li><a href="{% url 'main' %}" data-after="Home">Home</a></li>
                <li><a href="#Serviços" data-after="Serviços">Serviços</a></li>
                <li><a href="{% url 'logar_usuario' %}" data-after="Login">Login</a></li>
                <li><a href="{% url 'create_user' %}" data-after="Criar Conta">Criar Conta</a></li>
                <li><a href="#Download" data-after="Baixe Aqui">Download App</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Header -->

      <section id="hero">
        <div class="hero container-fluid">
          <div class="">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div style="margin-top: 20%;" class="form-group col s4 offset-s4">
                  {{form_login.username.errors}}
                  <label class="white-text">Username: </label>
                  <input class="white-text" {{form_login.username}}
              </div>
              </div>

              <div class="row">
                <div class="form-group col s4 offset-s4">
                  {{form_login.password.errors}}
                  <label class="white-text">Senha: </label>
                  <input class="white-text"  {{form_login.password}}
              </div>
              </div>
              <div class="row">
                <div class="form-group col s5 offset-s5">
                  <button type="submit" value="Logar" class="btn btn-primary purple"><i class="material-icons right">send</i>Logar</button>
              </div>
              {% for message in messages %}
                <div class="row">
                  <div class="input-field col s6 offset-s3 m4 offset-m4">
                    <div class="alert alert-success">
                      <a style="margin-bottom: 30%;" class="close white-text" href="#" data-dismiss="alert">× {{ message }}</a>
      
                    
      
                </div>
                {% endfor %}
            </form>
        </div>
        <div class="row" >
                <p style="padding-bottom: 30%; font-size: x-small;" class="white-text col s4 offset-s5">Copyright © 2022 Raia Tech. </p>
        </div>
      </section>
</body>
</html>
