:root {
    --bg-purple: #8E43F0;
    --color-font: #FFFCFF;

    --navbar-heigth: 50px;
}

.nav-bar {
    background-color: var(--bg-purple);
    color: var(--color-font);
    height: var(--navbar-heigth);
}